{{! /************************************************************************************
* WEB322 – Project (Winter 2022)
* I declare that this assignment is my own work in accordance with Seneca Academic
* Policy. No part of this assignment has been copied manually or electronically from
* any other source (including web sites) or distributed to other students.
*
* Name: Yavuz Alper Yigitoglu
* Student ID: 127785186
* Course/Section: WEB322/NDD
*
************************************************************************************/ }}

{{!-- {{#if isCustomer}} --}}
{{#each getMealbyID}}

  <div
    class="heroimg"
    style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url({{mealPic}});"
  >

    <div class="details">

      <div>
        <p class="centerIt">
          Cooking Time
        </p>
        <p class="centerIt"><b>{{cookingTime}} minutes</b></p>
      </div>

      <div>
        <p class="centerIt">Servings</p>
        <p class="centerIt"><b>{{servings}} person</b></p>
      </div>

      <div>
        <p class="centerIt">Calories</p>
        <p class="centerIt"><b>{{caloriesPerServing}} /serving</b></p>
      </div>

    </div>
    <div class="mealKitHeroText">
      <h1>{{title}}</h1>
      <h4>with {{whatsIncluded}}</h4>
      <p>
        {{description}}
      </p>
      <br />
      <button onclick="window.location.href=`/addCart/{{_id}}`">Add to cart for ${{price}}</button>
    </div>
  </div>

{{/each}}
